<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
              <h2 style="margin-left: 10px;">
                Contacts
              </h2>
            </div>
            <div class="row">
              <div class="input-group pull-left pad-left-right col-xs-7" style="margin-left: 10px;">
                <input type="text" class="form-control" [(ngModel)]="searchBox">
                <div class="glyphicon glyphicon-search input-group-addon"></div>
              </div>
              <div class="pull-right pad-left-right">
                <a class="btn btn-success" [routerLink]="['new']" style="margin-right: 10px;">New Contact</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" cdkDropList [cdkDropListData]="this.contacts">
    <app-contact-list-item *ngFor="let contact of contacts | contactsFilter:searchBox" [contact]="contact" style="cursor: pointer;">
    </app-contact-list-item>
  </div>
</div>